<!-- templates/books/book_detail.html -->
{% extends '_base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
        <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
        {% endif %}
        <h2><a href="">{{ book.title }}</a></h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
        <div>
            <h3>Reviews </h3> <p><a href="{% url 'review_new' book.id %}"> + New</a></p> 
            <ul>
            {% for review in book.reviews.all %}
            <li>{{ review.author }} - {{ review.review }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}