<!-- template/books/book_list.html -->
{% extends '_base.html' %}
{% load static %}
{% block title%} Books {% endblock title %}

{% block content %}
    <div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %} class="selected" {% endif %}>
            <a href="{% url 'book_list' %}"> All </a>
        </li>

        {% for c in categories %}
        <li {% if c.slug == category.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>

    </div>
        <div id="main" class="product-list">
        <h1>
            {{category}}
        </h1>

        {% for book in book_list %}
            <div class="item">
                <a href="{{ book.get_absolute_url }}">
                    <img src="{% if book.cover %}{{ book.cover.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                </a>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                <br>
                ${{ book.price }}
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}