{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About the Project</h1>
<h5 style="color:darkred"> Bookstore project is not the most beautiful site in the world, <br>
       but it is very functional at this point!</h5>
<p> Develeoped using <b>Python</b> and <b>Django</b></p>
<h5 style="color:darkred">Topics that covered during development process</h5>
<p>
    <b> Could apply to almost any new project: </b> <br>
    Docker & Postgresql with Django ✔️,
    Custom User Model ✔️, <br>
    Unit Tests ✔️,
    User Registration ✔️, 
    Static Assets ✔️, <br>
    Advanced User Registration ✔️,
    Environment Variables ✔️,
    Email Services ✔️
</p>

<p>
    <b>Building out the Bookstore site itself</b>
    Books App ✔️,
    Reviews App ✔️,
    File/Image Uploads ✔️, <br>
    Permissions ✔️,
    Search ✔️,
    Categories App ✔️, <br>
    Shopping Cart Sessions ✔️
</p>

<div class="col-lg-12 bar">
    <div class="col-lg-3 col-md-3 col-sm-8 img-bar border-right">
        <img style="display: block;
        max-width: 100%;
        height: auto;" class="img-responsive" src="/static/images/alimov.png" alt="Abdullokh Alimov">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 content-bar">
        <div class = "h1"><a href = "#"  class="tracking-in-expand">Alimov Abdullokh</a></div>
        <p>Python Backend Developer</p>

        <a href="https://github.com/Alimov-8" class="btn btn-primary topicTag" role="button">Github</a>
        <a href="https://www.linkedin.com/in/alimov-8/" class="btn btn-primary topicTag" role="button">LinkedIn</a>
        <a href="https://t.me/Alimov_8" class="btn btn-primary topicTag" role="button">Telegram</a>
    </div><br>
{% endblock content %}