{% extends '_base.html' %}
{% load static %}
{% block title%} Profile {% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <div>
        <h1>Hi {{ user.email }}! </h1>
        <img src="
                {% if C %}
                    {{ user.image.url }}
                {% else %}
                    {% static 'images/no_image.png' %}
                {% endif %}">
    </div>

    <div id="sidebar">
        <h2> Actions </h2>
        <ul>
            <li>
                <a {% if not user.phone %} style="color:red" {% endif %} href="{% url 'account_update' user.slug %}"> Profile Update </a>
            </li>
            <li>
                <a href="{% url 'book_new' %}"> Sell Book </a>
            </li>
            <li>
                <a href="{% url 'account_change_password' %}"> Change Password </a>
            </li>
            <li>
                <a href="{% url 'account_delete' user.slug %}"> Delete Profile </a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}"> Log Out </a>
            </li>
    
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <div id="main" class="product-list"><br>
        <h2>List of books on sale</h2>
        {% if books_list %}
            {% if not user.phone %}
                <p style="color:red;"> 
                    You added book to sale, so add your contact information via "Profile Update" link! <br>
                    📌 phone is required
                </p>
            {% endif %}
        {% endif %}

        {% for book in books_list %}
            <div class="item">
                {% load thumbnail %}
                    <a href="{{ book.get_absolute_url }}">
                        <img style="
                                width: 100%;
                                height: 240px;
                                display: block;
                                padding: 4px;
                                margin-bottom: 20px;
                                line-height: 1.42857143;
                                background-color: #fff;
                                border: 1px solid #ddd;
                                border-radius: 4px;
                                -webkit-transition: border .2s ease-in-out;
                                -o-transition: border .2s ease-in-out;
                                transition: border .2s ease-in-out;"  
                            src="{% if book.cover %}{% thumbnail book.cover 300x0 quality=85  %}{% else %}{% static 'images/no_image.png' %}{% endif %}">
                    </a>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                <br>
                ${{ book.price }}

                {% if book.available %}
                    on sale
                {% else %}
                    in storage
                {% endif %}
                <br>
                <a href="{% url 'book_update' book.pk %}"> Edit </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1>You are not logged in</h1>
    <p><a href="{% url 'account_login' %}">Log In</a> |
    <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endif %}

{% endblock content %}